.go-tour{
  height:20vh;
  margin:5px 5px 50px 5px;
  text-align: center;

}

.go-tour-wrapper{
  display: inline-block;
  height:inherit;
  width:80%;
  position: relative;
}
.picked{
  background-color:rgb(238,238,238) !important;
  border:2px solid #000 !important;
}
.go-tour{
  .fa{
    font-size: 2.5em;
    position: absolute;
    z-index: 10;
    color:#fff;
    color:gray;
    top:45%;
    // height:100%;
    // background-color:rgba(55,55,55,.5);
    cursor: pointer;
    &:hover{
      color:gray;
      color:rgb(224,224,224);
    }
  }
  .fa-angle-left{
    left:-10%;
  }
  .fa-angle-right{
    right:-10%;
  }
  .btn-primary{
    width:100%;
    position: absolute;
    left:0px;
    bottom:-3em;
  }
}


.go-tour-title{
  font-size: 1.5em;
}
.slider{
  position: relative;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
  /* optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
      background: transparent;
  }
  height:inherit;
    .slider-contents,.modal-slider-contents{
      list-style-type: none;
      overflow-x: scroll;
      padding-left: 0px;
      padding-bottom:10px;
      li{
        height:80%;
        float:left;
        .slider-item, .modal-slider-item{
          display: flex;
          padding:1.25em 0em;
          flex-direction: column;
          justify-content: space-around;
          height:95%;
          margin:5px 10px 5px 5px;
          background-color:lightgrey;
          border-radius:5px;
          border:1px solid #000;
          cursor: pointer;
          box-shadow: 5px 5px 5px grey;
          &:hover{
            background-color:rgb(224,224,224);
            // color:#fff;
          }
          div{
            font-family: 'apercu-regular',sans-serif;
            &:nth-child(1){
              font-size:.75em;
            }
            &:nth-child(2){
              font-size:2em;
              font-weight: 400;
            }
            &:nth-child(3){
              font-size:.75em;
            }
          }
        }
      }
    }
  }
